<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

/*Start Nav Panel*/
/*.nav-panel {
  display: none;
}*/
/*End Nav Panel*/

/*Start Nav links*/
.main-navigation ul li a {
  font-size: 14px;
}
/*End Nav Links*/

/*Start Site Branding*/
.site-branding {
  padding-top: 0px !important;
  margin-bottom: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
  /*padding-bottom: 25px;*/
  margin-left: 25px;
  margin-right: 25px;
  /*border-radius: 50%;*/
  /*background-color: wheat;*/
  margin-top: 60px;
  /*border: 2px solid #9044b9;*/
}

.admin-bar .site-branding {
  padding-top: 30px;
}

.site-title {
  font-family: 'Lora';
}

.site-title,
.site-description {
  text-align: center;
}

.site-title a, .site-description {
    color: #7509d4d6 !important;
}
/*End Site Branding*/

/*Start Footer*/
.site-copyright {
  text-align: center;
}

.site-footer {
  background-color: #ffd3e9;
}
/*End Footer*/

a {
  color: #f5e5e5;
}

.inner-banner {
  display: none;
}

#hero {
  height: 100vh;
}

.site-content {
  padding: 0px;
}

#content {
  margin-top: 0px;
}

.menu-panel {
  background: none;
  background-image: linear-gradient(315deg, #1f041b87 0%, #d387abdb 74%);
}

/*Massage Services*/
.massage-services ul {
  list-style-type: none;
}

.massage-title {
  font-weight: bold;
  font-size: 24px;
}

.massage-type-images, 
.massage-type-images .elementor-widget-container,
.massage-type-images .elementor-widget-container .elementor-image,
.massage-type-images .elementor-widget-container .elementor-image .wp-caption
 {
  min-height: 100%;
  height: 100%;
}

.massage-type-images img {
  object-fit: cover;
  width: 100%;
  height: 25rem;
}

.massage-type-images .wp-caption .widget-image-caption.wp-caption-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  transform: translate(-50%,0%);
  /*display: none;*/
}

.massage-type-images .widget-image-caption.wp-caption-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient( rgba(245, 11, 11, 0), rgba(255, 255, 255, 0.45) );
}

#spot-massages li a,
#body-massages li a,
#signature-massages li a {
  color: #333;
}

#spot-massages li a:hover,
#body-massages li a:hover,
#signature-massages li a:hover {
  color: purple;
}
/*End Massage Services*/

/*Popup Search*/
.popup-search {
  background: rgba(158, 103, 151, 0.84);
}
/*End Popup Search*/

/*Nav Panel*/
.nav-panel {
  display: none;
}

#nav-panel-contacts {
  margin: 25px;
  position: absolute;
  bottom: 0;
}

#nav-panel-contacts p {
  margin: 0;
}

#nav-panel-contacts h4 {
  color: #efefef !important;
}

#nav-panel-contacts p {
  font-size: 16px !important;
  color: #efefef !important;
}
/*End Nav Panel*/

@media screen and (min-width: 992px) {
    body.extended-menu .menu-panel {
        left: 0px;
        width: 250px !important;
    }

    body.extended-menu .site-content {
        margin-left: 250px;
    }
}

/*@media screen and (max-width: 991px) {
    body.extended-menu .nav-toogle img.inactive {
        opacity: 1.0 !important;
    }

    body.extended-menu .nav-toogle img.active {
        opacity: 0.0 !important;
    }
}*/

@media only screen and (max-width: 768px) {
  #massages {
    margin-left: 1em;
  }

  #book-now-btn a {
    color: white;
    background-color: #c3307c7d;
    margin-top: 3rem;
  }

  /*.massages .elementor-container .elementor-row div:nth-child(1) {
    order: 2;
  }

  .body-massage-treatement {
    order: 1;
  }*/
} 

</style>
<!-- end Simple Custom CSS and JS -->
